.text-orange {
    color: #f9921d;
}
.text-grey {
    color: #86827c;
}
#hero-image-container {
    position: absolute; 
}
#dotted-box {
    position: absolute;
    top: -60px;
    right: -70px;
    margin-right: 100px; 
    margin-top: 20px;
    z-index: -1;  
}
#hero-image {
    margin-right: 100px;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 1;
}
#orange-box {
    position: absolute;
    top: 0px;

    z-index: -2;
}
#orange-box2 {
    position: absolute;
    right: 95px;
    bottom: -5px;
    z-index: -3;
}
a:hover {
    background-color: #f9921d;
}
.orange-btn:hover {
    background-color: #86827c !important;
    color: #000000 !important;
}