/* This is the default theme style used to avoid FOUC (flash of unstyled content) when the page loads */
:root {
  --orange-color: orange;
  --grey-color: #86827c;
  --merriweather-font: '__Merriweather_f68def', '__Merriweather_Fallback_f68def';
  --poppins-font: '__Poppins_7df6af', '__Poppins_Fallback_7df6af';
  --bs-breadcrumb-divider-color: #bfbbb778 !important;
  --main-light-bg: #805400;

  --dark-grey: #948063;
  --dark-grey-two: #4e351d;
  --dark-grey-three: #2b2008;
  --main-dark-bg: var(--dark-grey-two);
  --main-light-text: #fff;
  --main-dark-text: var(--dark-grey-two);
  --contrasting-text-color: #bfbbb778;
  --accent-el-background: var(--orange-color);
  --accent-el-front: #fff;
  --accent-text: var(--orange-color);
  --transition-color: var(--dark-grey-three);
}

.theme-toggle-container.dark-active {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  height: 2.3rem;
  margin: 0 auto;
  border-radius: 30px;
  border: 3px solid var(--dark-grey-three);
  font-size: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  background: var(--dark-grey-three);

  .switch {
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    transform: translateX(2.6rem);
    transition: transform 0.3s, background-color 0.1s ease;
    background: var(--main-light-bg);
  }

  .sun,
  .moon {
    position: relative;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    padding: 7px;
    z-index: 9;
  }

  .sun path {
    fill: var(--accent-el-front);
    opacity: 0.6;
  }

  .moon path {
    fill: var(--accent-el-background);
    opacity: 1;
  }
}

.theme-toggle-container.light-active {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  height: 2.3rem;
  margin: 0 auto;
  border-radius: 30px;
  border: 3px solid var(--dark-grey-three);
  font-size: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  background: var(--dark-grey-three);

  .switch {
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    transform: translateX(4px);
    transition: transform 0.3s, background-color 0.1s ease;
    background: var(--accent-el-background);
  }

  .sun,
  .moon {
    position: relative;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    padding: 7px;
    z-index: 9;
  }

  .sun path {
    fill: var(--dark-grey);
    opacity: 1;
  }

  .moon path {
    fill: var(--accent-el-background);
    opacity: 0.6;
  }
}

.switcher-container {
  padding: 20px;
  bottom: 0;
  position: fixed;
  z-index: 100;
}

.inner {
  background-color: black;

  .page {
    background-color: white;
  }

  .slide {
    height: 100vh;

    width: 100%;

    position: fixed;

    left: 0;

    top: 0;

    background-color: white;

    z-index: 1000;
  }
}

.stairs {
  .transition-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 30;
    div {
      position: relative;
      height: 100%;
      width: 100%;
      outline: 0;
      border: 0;
      backdrop-filter: grayscale(100%);
      scale: 2;
    }
  }
  .transition-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    pointer-events: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    /* background: url('/electrician.jpg') no-repeat center center fixed;
    background-size: cover; */
  }
}

.text-white-force {
  color: white !important;
}

.navbar-toggler {
  background: #fff;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 20;
}

.super-nav {
  @media screen and (max-width: 768px) {
    position: fixed;
    z-index: 19;
  }
}

.layout-content {
  @media screen and (max-width: 768px) {
    margin-top: 5em;
  }
}
