:root {
  --orange-color: #f9921d;
  --grey-color: #86827c;
  --merriweather-font: '__Merriweather_f68def', '__Merriweather_Fallback_f68def';
  --poppins-font: '__Poppins_7df6af', '__Poppins_Fallback_7df6af';
  --bs-breadcrumb-divider-color: #bfbbb778 !important;
  --main-light-bg: #805400;

  --dark-grey: #948063;
  --dark-grey-two: #4e351d;
  --dark-grey-three: #2b2008;
  --main-dark-bg: var(--dark-grey-two);
  --main-light-text: #fff;
  --main-dark-text: var(--dark-grey-two);
  --contrasting-text-color: #bfbbb778;
  --accent-el-background: var(--orange-color);
  --accent-el-front: #fff;
  --accent-text: var(--orange-color);
  --transition-color: var(--dark-grey-three)
}


.breadcrumb {
  --bs-breadcrumb-divider-color:color: #bfbbb778  !important;
}
.breadcrumb-item a{
  font-size: 14px;
  /* transition: all 0.3s ease-in-out; */
}
.bg-transparent.text-dark-grey.border-dark-grey.bg-hover-dark-grey{
  background-color: #1f1e1c !important;
  color: #d3d3d3;
  border-color: #1f1e1c;
  &:hover{
    background-color: #3e3d3b !important;
    color: #fff !important;
  }
}
.bg-light.text-dark-grey {
  background-color: #f8f8f8;
  color: #1f1e1c  !important;
}

.bg-light.text-dark-grey .text-dark-grey {
  color: #1f1e1c  !important;
}

.breadcrumb-item a:hover{
  font-size: 14px;
  color: #f9921d !important;
  /* transition: all 0.3s ease-in-out; */
}

.breadcrumb-item:before{
  font-size: 14px;
}

.breadcrumb-item {
      display: flex;
    color: #f9921d;
}
body {
  font-family: var(--poppins-font);
  background: #805400;
}

.text-orange {
  color: var(--orange-color);
}

.bg-orange {
  background-color: var(--orange-color);
  color: #fff;
}

.simple-hero-text.bg-oldlace .text-grey{
  color: var(--dark-grey-three)
}

.simple-hero-text.bg-oldlace .text-dark-grey{
  color: var(--dark-grey-two)
}

.bg-hover-orange {
  &:hover {
    background-color: var(--orange-color) !important;
    color: #fff !important;
  }
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-dark-grey {
  background-color: #1f1e1c;
}

.text-dark-grey {
  color: #d3d3d3;
}
.border-dark-grey {
  border-color: #1f1e1c;
}

.bg-hover-dark-grey {
  &:hover {
    background-color: #1f1e1c !important;
    color: #fff !important;
  }
}
.text-grey {
  color:#f8f8f8;
}

#hero-image-container {
  position: relative;
}
#dotted-box {
  position: absolute;
  top: -45px;
  right: -20px;
  z-index: -1;
}

#dotted-box2 {
  position: relative;
  z-index: -1;
  margin-top: -55%;
  right: -30%;
  top: 0;
}
#hero-image {
  margin-right: 50px;
  margin-top: 15px;
  z-index: 1;
}

#orange-box {
  position: absolute;
  right: 40px;
  bottom: -10px;
  z-index: -2;
}

#orange-box2 {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -3;
}

.navigation-link:hover {
  color: var(--orange-color);

  /* transition: all 0.1s ease-in-out; */
}
.navigation-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.dropdown-toggle.nav-link {
  color: #fff;
}
.nav-link.show {
  color: var(--orange-color) !important;
}

.navigation-link:after {
  border-bottom: 2px solid var(--orange-color);
  color: var(--orange-color);
  width: 2px;
  opacity: 0;
  height: 2px;
  font-weight: 700;
  content: '';
}
.navigation-link:hover:after {
  border-bottom: 2px solid var(--orange-color);
  color: var(--orange-color);
  width: 40px;
  height: 2px;

  content: '';
  opacity: 1;
  /* transition: all 0.3s ease-in-out; */
}

.bg-hover-orange:hover + .bg-hover-dark-grey {
  background-color: #1f1e1c !important;
  color: #fff !important;
  /* transition: all 0.25s ease-in-out; */
}

.bg-hover-orange:has(~ .bg-hover-dark-grey:hover) {
  background-color: var(--orange-color) !important;
  color: #fff !important;
  /* transition: all 0.25s ease-in-out; */
}

.bg-hover-orange.navigation-link:hover:after {
  border-bottom: 2px solid #fff;
  color: #fff;
  width: 40px;
  height: 2px;
  font-weight: 700;
  content: '';
  opacity: 1;
  /* transition: all 0.3s ease-in-out; */
}
.bg-hover-orange.navigation-link:hover {
  /* transition: all 0.3s ease-in-out; */
}
.orange-btn:hover {
  background-color: var(--grey-color) !important;
}

.bg-dark-grey-500 {
  background-color: #252321;
}

.text-dark-grey-500 {
  color: #252321;
}

.border-dark-grey-500 {
  border-color: #252321;
}

#about-description {
  border-left: 5px solid var(--orange-color);
  padding-left: 15px;
}
#about-image {
  @media only screen and (max-width: 769px) {
    img {
      max-height: 300px;
    }
  }
}
#about-logo {
  max-height: 100px;
}
@media only screen and (max-width: 769px) {
  #hero-image-container {
    margin-left: 15px;
  }
}

#about-tagline {
  color: var(--orange-color);
  background-color: var(--grey-color);
  padding: 5px 5px 5px 5px;
  @media only screen and (min-width: 769px) {
    font-size: 14px !important;
  }
}

.service-card-description {
  @media only screen and (min-width: 769px) {
    height: 120px;
  }
}

.testimonial-header-image {
  width: 100%;
}

.testimonial-form-par {
  background: var(--orange-color);
}

/* .slick-slide {
  margin: 0 27px;
}

/* the parent */
/* .slick-list {
  margin: 0 -27px;
} */
.slider-container {
  @media (min-width: 822px) {
    .slick-list {
      overflow: hidden;
      padding: 10px 60px !important;
    }
    .slick-arrow {
      text-shadow: 0px 0px 1px #00000052;
      scale: 4;
      top: 60% !important;
      z-index: 1;
      @media (max-width: 769px) {
        scale: 2 !important;
      }
    }
    .slick-center {
      filter: blur(0px) !important;
      position: relative;
      scale: 1.1 !important;
      z-index: 10;
      /* transition: all 0.3s ease-in-out; */
      @media (max-width: 769px) {
        scale: 0 !important;
        .testimonial {
          min-width: 100% !important;
        }
      }
    }
    .slick-slide {
      filter: blur(1px) grayscale(1);
      scale: 0.7;
      /* transition: all 0.3s ease-in-out; */
      @media (max-width: 769px) {
        filter: blur(0px) !important;
      }
    }

    .slick-center .testimonial {
      min-width: 400px;
      z-index: 100;
      .card-header {
        background-color: var(--orange-color) !important;
        color: var(--main-light-bg);
      }
    }
  }
}

.testimonial {
  .card-body {
    min-height: 250px;
  }
}
.hero-comp {
}

#services {
}
.selling-points {
  width: 100%;
  h4 {
    font-family: Merriweather, serif;
    font-style: italic;
    font-weight: 700;
  }
  h3 {
    font-family: Merriweather, serif;
    font-style: italic;
  }
  svg {
    color: #ffffffb0;
  }
  .mh-75 {
    min-height: 30%;
  }
}

.funky-text {
  font-family: Merriweather, serif;
  font-style: italic;
}

.home-main {
  background: #805400;
  z-index: 0;
  position: relative;
}

.service-card-image {

}

.project-in-mind {
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;

  position: relative;
  width: 100%;
  .cta-button {
    width: 485px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    align-items: flex-end;
    padding: 30px;
    text-decoration: none;
    display: flex;
    position: relative;
    color: #373633;
    border: 1px dashed #fff;
    background-color: #fff;
    .cta-button-arrow {
      color: #373633 !important;
      fill: #373633 !important;
    }
    &:hover {
      color: #fff;
      background-color: var(--orange-color) !important;
      .cta-button-text {
        color: #fff !important;
      }
      .cta-button-arrow {
        color: #fff !important;
        fill: #fff !important;
      }
    }
  }

  .cta-button-border {
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    &:hover {
      background-color: #fff;
      border-radius: 4px;
    }
  }
  .cta-button-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    bottom: auto;
    left: auto;
    right: 30px;
    z-index: 1;
    color: #373633;
  }
  .cta-button-text {
    z-index: 1;
  }
}
.home-main {
  .card {
    height: 600px;
  }
  .card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 35%;
  }

  .card-title {
    min-height: 10%;
  }
}

.navbar-brand {
  filter: saturate(2) drop-shadow(2px 4px 6px black);
}
.navbar {
  border: 4px solid #1f1e1c;
  /* transition: all 0.3s ease-in-out; */
}
/* .layout-children-container {
  margin-top: 10em;
} */
.container {
  max-width: 100vw;
}
.partner-strip {
  .partner-container {
    height: 100px;
    object-fit: scale-down;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #252321;

    img {
      width: 50%;
      object-fit: scale-down;
      filter: grayscale(0) contrast(1.5);
    }
  }
  .slick-track {
  }
  .slick-slide {
    background-color: rgba(
      var(--bs-light-rgb),
      var(--bs-bg-opacity)
    ) !important;
  }
}
.our-partners-text {
  background: #252321;
  padding: 10px;
  color: #fff;
  font-weight: 600;
}

.modal {
  backdrop-filter: grayscale(1);
}

.modal-body {
  background: #fff;
  color: #333;
  box-shadow: inset 1px 1px 13px 2px #25232159;
}

.bg-#805400 {
  background: #805400;
}
.simple-hero {
  min-height: 90vh;
}
.simple-hero-img {
  filter: saturate(0.6) contrast(1.5) brightness(0.5);
  min-height: 90vh;
  background-size: cover !important;
  position: relative;
}
.simple-hero-img:after {
  background: #ff880078;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.simple-hero-text {
  min-height: 90vh;
}

.banner {
  background: #252321;
  color: #fff;
  padding: 5px;
  small{
    font-size: 14px;
    /* transition: all 0.3s ease-in-out; */
  }
  small:hover {
    color: var(--orange-color);
    font-size: 14px;
  }
}

.breadcrumb {
  background: #1f1e1c;
}

.super-nav {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
}

.about-container {
  position: relative;
  z-index: -1;
  min-height: 80vh;
}

.fade-image-container {
  position: relative;
  display: inline-block;
}

.fade-image-container .fade-image {
  display: block;
  width: 100%; /* Adjust as needed */
  height: 80vh !important; /* Adjust as needed */
}

.fade-image-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to left,
    rgba(45, 38, 29, 0) 0%,
    rgb(37 35 33) 100%);
  pointer-events: none; /* Allows click events to pass through */
}

#main-container {
  overflow-x: hidden;
  
}
.super-container.theme-has-changed{
  animation: bounce 0.5s ease forwards;
}


.text-white-trans {
  color: #bfbbb778 !important;
}

nav .dropdown-menu{
      border-radius: 0;
    background: orange;
    color: #fff;
    /* transition: all 0.3s ease-in-out; */
}

nav .dropdown-menu .dropdown-item{
    color: #fff !important;
    /* transition: all 0.3s ease-in-out; */
}
nav .dropdown-menu .dropdown-item:hover{
    color: #000 !important
}
nav .dropdown-menu .dropdown-item:active{
  background-color: #252321 !important
}

nav .dropdown-menu .dropdown-item:active a{
  color: #fff !important;
  /* transition: all 0.3s ease-in-out; */
}

nav .dropdown-menu .dropdown-item a{

  /* transition: all 0.3s ease-in-out; */
}
